body{
    overflow-x: hidden;
}
#headerHelp{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(2,45,38);
    padding: 20px 0px;
}
#logoandtitle{
    width: 50%;
    display: flex;
}
#logoandtitle a{
    width: 40%;
}
#logoandtitle a img{
    width: 100%;
    height: auto;
    padding: 0px 20px;
}
#titlehelp{
   
    font-size: 25px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    color: rgb(226,183,64);
    border-left: 1px rgb(226,183,64) solid;
}
#DKandCS{
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    color: rgb(226,183,64);
    text-decoration: none;
}



#help {
    width: 100%;
    height: 100%;

}
h1{
    color:rgb(15,53,47);
}
.header_a
{
    background-color:white;
    width: 100%;
    height: 40px;
}
.category{
    margin: 0px 50px;
    clear: both;
}
.category_item
{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        float: left;
        width: 300px;
        height: 72px;
        overflow:hidden;
        padding: 15px 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        background: #fff;
        border: 1px solid rgba(0,0,0,.16);
    
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.box
{   width: 80%;
    height: 20%;
    margin-left: 50px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hot_questions_a{
    clear: both;
    margin-top: 200px;
}

.hot_questions_b {
    width: 1000px;
    margin: 0 80px;
    color: #262626;
}

.hoi{
    padding: 16px 10px;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
    border-bottom: 1px dashed #e1e1e1;
}

.chan_a{
    font-size: 30px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

.chan_b{
    float: left;
    width: 280px;
    height: 30px;
    
    margin-left: 350px;
    margin-top: 40px;
    font-size: 20px;
    box-sizing: border-box;
}

.chan{
    margin: 10px;
    width: 100%;
    height: 120px;
    background-color:#e1e1e1;
}

.footer___2zIx_ {
    margin: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    background: #fff;
}
.logo{
    float: left;
    margin: 10px;
}
.text{
    float: left;
    margin: 10px;

}

.search{
    background-color: rgb(15,53,47);
    padding: 40px 0px;
}

.search .form_container {
    width: 100%;

    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.search .search_title {
    font-size: 30px;
    font-weight: 300;
    line-height: 59px;
    color: rgb(226,183,64);
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
}

#searchBar{
    width: 60%;
    height: 60px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 5px;
    margin-top: 30px;
}
#Nhaphotro{
    width:  100%;
    height: 100%;
    padding: 15px 50px 15px 20px;
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    border: none;
}
#searchBar svg{
    width: 13%;
    height: 100%;
    padding: 15px;
    background-color: rgb(226,183,64);
    border-radius: 5px;
}